@model IEnumerable<BugTracker.Models.TicketModel>

@{
    ViewData["Title"] = "View Tickets";
}

<div class="row pt-4 justify-content-between">
    <div class="d-flex bd-highlight">

        <div class="flex-grow-1 bd-highlight">
            <h3>Tickets</h3>
        </div>

        <div class="px-2 bd-highlight">
            <a role="button" class="btn btn-primary" asp-action="AddBug">Add Ticket</a>
        </div>

        <div class="bd-highlight">
            <button type="button" class="btn btn-secondary">Info</button>
        </div>

    </div>
</div>

<hr />

@using (Html.BeginForm())
{
    <div class="row" >
        <div class="col-md-3">
            @Html.DropDownList("id", ((SelectList)ViewBag.ProjectName), "- Select project -", new { @class = "form-select" })
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" type="submit" asp-action="ViewTickets">Choose this project</button>
        </div>
    </div>
}


<div class="container-fluid pt-4">
    <table class="table table-hover table-borderless">
        <thead class="table-light">
            <tr>
                @*<th>
                        #
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.BugName)
                </th>
                <th>
                    Description
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reporter)
                </th>
                @* model has different order! *@
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Severity)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.BugName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reporter)
                    </td>
                    @* model has different order! *@
                    <td>
                        <span class="color_change_status">
                            @Html.DisplayFor(modelItem => item.Status)
                        </span>
                    </td>
                    <td>
                        <div class="remove_seconds" id="removeId">
                            @Html.DisplayFor(modelItem => item.Created)
                        </div>
                    </td>
                    <td>
                        <div class="remove_time" id="removeId">
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </div>
                    </td>
                    <td>
                        <span class="color_change_severity">
                            @Html.DisplayFor(modelItem => item.Severity)
                        </span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <form method="post" asp-controller="Home" asp-action="EditBug">
                                <input type="hidden" name="Id" asp-for="@item.Id" />
                                <input type="submit" value="Edit" class="btn btn-outline-secondary btn-sm py-0" style="font-size: 0.75em;" />
                            </form>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <form method="post" asp-controller="Home" asp-action="DetailsBug">
                                <input type="hidden" name="Id" asp-for="@item.Id" />
                                <input type="submit" value="Details" class="btn btn-outline-secondary btn-sm py-0" style="font-size: 0.75em;" />
                            </form>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <form method="post" asp-controller="Home" asp-action="DeleteBug">
                                <input type="hidden" name="Id" asp-for="@item.Id" />
                                <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm py-0" style="font-size: 0.75em;" />
                            </form>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
